<p>pomodoro works!</p>


<mat-card style="background-color: #edf3f6;">
  <div *ngIf="fba.user | async as user; else showLogin">
    <h2>Showing Tasks for {{ user.displayName }}</h2>
    <button (click)="logout()">Logout</button>
  </div>
  <ng-template #showLogin>
    <p>Please login.</p>
    <button (click)="login()">Login with Google</button>
  </ng-template>
</mat-card>


<mat-card style="background-color: #b4dba9;">
  <div *ngIf="fba.user | async as user; else showMsg">
    <h2>Input New Task</h2>


    <div>
      <mat-form-field>
        <mat-label>Task name?</mat-label>
        <input matInput [(ngModel)]="name">
      </mat-form-field>
    </div>

    <div>
      <mat-form-field>
        <mat-label>Time in minutes</mat-label>
        <input matInput [(ngModel)]="minutes">
      </mat-form-field>
    </div>

    <div>
      <button mat-raised-button (click)="openDialog()">Set</button>
    </div>






  </div>
  <ng-template #showMsg>
    <p>Tasks only show on login</p>
  </ng-template>
</mat-card>




