rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
   match /items/{item} {
      allow read: if true;
      allow write: if get(/databases/$(database)/documents/users/$(request.auth.uid)).data.admin == true
    }
    match /gmail/{item=**} {
      allow read: if get(/databases/$(database)/documents/users/$(request.auth.uid)).data.admin == true
      allow write: if get(/databases/$(database)/documents/users/$(request.auth.uid)).data.admin == true
    }
     match /tsexpress/{item=**} {
      allow read: if get(/databases/$(database)/documents/users/$(request.auth.uid)).data.admin == true
      allow write: if get(/databases/$(database)/documents/users/$(request.auth.uid)).data.admin == true
    }
    match /pomodoro/{item=**} {
      allow read: if get(/databases/$(database)/documents/users/$(request.auth.uid)).data.admin == true
      allow write: if get(/databases/$(database)/documents/users/$(request.auth.uid)).data.admin == true
    }
    match /{document=**} {
      allow read, write: if false;
    }
  }
}