<app-navbar></app-navbar>


<div style="margin-left:25px;margin-right:25px">
  <div class="container">
    <div class="row">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>




<div style="margin-left:25px">
  <div class="bottom_div">
    <div class="container">
      <div class="row">
        <div class="content" role="main">


          <h2>{{label.name | uppercase}} Details</h2>
          <div><span>result: </span>{{result.name}}</div>
          <div>
            <label>name:
              <input [(ngModel)]="label.name" placeholder="name"/>
              <button (click)="onClickMe()">Click me!</button>

            </label>
          </div>
          <ul>
            <li class="text" *ngFor="let item of items | async">
              {{item.name}}
            </li>
          </ul>


        </div>
      </div>
    </div>
  </div>
</div>






